{
    "name": "QFAMobileNetV3",
    "first_conv": {
        "name": "DynamicQConvLayer",
        "in_channel_list": [
            3
        ],
        "out_channel_list": [
            24
        ],
        "bits_list": [
            2,
            3,
            4,
            32
        ],
        "kernel_size": 3,
        "stride": 2,
        "dilation": 1,
        "use_bn": true,
        "act_func": "h_swish"
    },
    "blocks": [
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    24
                ],
                "out_channel_list": [
                    24
                ],
                "kernel_size_list": [
                    3
                ],
                "expand_ratio_list": [
                    1
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "relu",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    24
                ],
                "out_channels": [
                    24
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    24
                ],
                "out_channel_list": [
                    32
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 2,
                "act_func": "relu",
                "use_se": false
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    32
                ],
                "out_channel_list": [
                    32
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "relu",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    32
                ],
                "out_channels": [
                    32
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    32
                ],
                "out_channel_list": [
                    32
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "relu",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    32
                ],
                "out_channels": [
                    32
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    32
                ],
                "out_channel_list": [
                    32
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "relu",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    32
                ],
                "out_channels": [
                    32
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    32
                ],
                "out_channel_list": [
                    48
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 2,
                "act_func": "relu",
                "use_se": true
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    48
                ],
                "out_channel_list": [
                    48
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "relu",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    48
                ],
                "out_channels": [
                    48
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    48
                ],
                "out_channel_list": [
                    48
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "relu",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    48
                ],
                "out_channels": [
                    48
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    48
                ],
                "out_channel_list": [
                    48
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "relu",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    48
                ],
                "out_channels": [
                    48
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    48
                ],
                "out_channel_list": [
                    96
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 2,
                "act_func": "h_swish",
                "use_se": false
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    96
                ],
                "out_channel_list": [
                    96
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    96
                ],
                "out_channels": [
                    96
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    96
                ],
                "out_channel_list": [
                    96
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    96
                ],
                "out_channels": [
                    96
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    96
                ],
                "out_channel_list": [
                    96
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": false
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    96
                ],
                "out_channels": [
                    96
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    96
                ],
                "out_channel_list": [
                    136
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    136
                ],
                "out_channel_list": [
                    136
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    136
                ],
                "out_channels": [
                    136
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    136
                ],
                "out_channel_list": [
                    136
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    136
                ],
                "out_channels": [
                    136
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    136
                ],
                "out_channel_list": [
                    136
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    136
                ],
                "out_channels": [
                    136
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    136
                ],
                "out_channel_list": [
                    192
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 2,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    192
                ],
                "out_channel_list": [
                    192
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    192
                ],
                "out_channels": [
                    192
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    192
                ],
                "out_channel_list": [
                    192
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    192
                ],
                "out_channels": [
                    192
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "DynamicMBQConvLayer",
                "in_channel_list": [
                    192
                ],
                "out_channel_list": [
                    192
                ],
                "kernel_size_list": [
                    3,
                    5,
                    7
                ],
                "expand_ratio_list": [
                    3,
                    4,
                    6
                ],
                "bits_list": [
                    2,
                    3,
                    4,
                    32
                ],
                "stride": 1,
                "act_func": "h_swish",
                "use_se": true
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": [
                    192
                ],
                "out_channels": [
                    192
                ],
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        }
    ],
    "final_expand_layer": {
        "name": "DynamicQConvLayer",
        "in_channel_list": [
            192
        ],
        "out_channel_list": [
            1152
        ],
        "bits_list": [
            2,
            3,
            4,
            32
        ],
        "kernel_size": 1,
        "stride": 1,
        "dilation": 1,
        "use_bn": true,
        "act_func": "h_swish"
    },
    "feature_mix_layer": {
        "name": "DynamicQConvLayer",
        "in_channel_list": [
            1152
        ],
        "out_channel_list": [
            1536
        ],
        "bits_list": [
            2,
            3,
            4,
            32
        ],
        "kernel_size": 1,
        "stride": 1,
        "dilation": 1,
        "use_bn": false,
        "act_func": "h_swish"
    },
    "classifier": {
        "name": "DynamicQLinearLayer",
        "in_features_list": [
            1536
        ],
        "out_features": 1000,
        "bits_list": [
            2,
            3,
            4,
            32
        ],
        "bias": true,
        "act_func": null,
        "dropout_rate": 0.1
    }
}